@use '../../sass/media.scss' as * ;

.form {
  display: flex;
  width: 100%;
}

.form_row {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 55px;
  @include phones {
    padding: 0 10px;
  }
}

.form_input {
  flex: 3 1 auto;
  min-width: 170px;
  padding: 20px 30px;
  border: 2px solid white;
  background-color: rgba(213, 214, 209, .8);
  transform: skewX(300deg);
  display: flex;
  align-items: center;
  transition: 0.2s ease-in-out;
  &:hover {
    background-color: rgba(255, 255, 255, 1);
  }
  @include phones {
    transform: skewX(0deg);
  }
}

.form_inputItem {
  width: 100%;
  display: block;
  width: 100%;
  border: none;
  outline: none;
  font-size: 14px;
  background-color: transparent;
  transform: skewX(-300deg);
  @include phones {
    transform: skewX(0deg);
  }
}

.form_button {
  flex: 1 1 auto;
  padding: 20 30px;
  border: 2px solid white;
  background-color: #fe0000;
  display: flex;
  align-items: center;
  transform: skewX(300deg);
  transition: 0.2s ease-in-out;
  &:hover {
    background-color: rgba(82, 9, 9, 1);
  }
  &:active {
    background-color: rgb(34, 3, 3);
  }
  @include phones {
    padding: 10px 15px;
    transform: skewX(0deg);
  }
}

.form_buttonItem {
  display: block;
  width: 100%;
  border: none;
  outline: none;
  padding: 20px 50px;
  font-size: 14px;
  color: white;
  background-color: transparent;
  transform: skewX(-300deg);
  @include phones {
    padding: 10px 15px;
    transform: skewX(0deg);
  }
}
